<h1>Liste des interventions</h1>

<table class="table" ng-controller="ListeCtrl">
  <thead>
    <tr>
      <th scope="col">Libellé</th>
      <th scope="col">Description</th>
      <th scope="col">Nom de l'intervenant</th>
      <th scope="col">Lieu</th>
      <th scope="col">Date de l'intervention</th>
      <th scope="col">Etat de l'intervention</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody ng-repeat="intervention in interventions">
    <td scope="row">{{intervention.title}}</td>
    <td>{{intervention.description}}</td>
    <td>{{intervention.name}}</td>
    <td>{{intervention.localisation}}</td>
    <td>{{intervention.date}}</td>
    <td></td>
    <td>
      <button class="btn btn-warning" ng-if="intervention.date < now || intervention.date.length === 0" ng-click="modifyIntervention()">Modifier</button>
    </td>
    <td><button class="btn btn-danger" ng-click="deleteIntervention()">Supprimer</button></td>
  </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">Ajouter
  une intervention</button>

<!-- <div ng-controller="formCtrl" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter une intervention</h5> -->
        <!-- <button type="button" class="close" data-dismiss=".modal" aria-label="Close" ng-click="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button> -->
      <!-- </div>
      <form novalidate name="interventionForm" class="form-intervention modal-body">
        <div class="form-group">
          <label for="title">Libellé</label>
          <input type="text" class="form-control" ng-model="title" id="title" aria-describedby="libelle">
        </div>
        <div class="form-group">
          <label for="description">Description de l'intervention</label>
          <input type="text" class="form-control" ng-model="description" id="description">
        </div>
        <div class="form-group">
          <label for="name">Nom de l'intervenant</label>
          <input type="text" class="form-control" ng-model="name" id="name">
        </div>
        <div class="form-group">
          <label for="localisation">Lieu de l'intervention</label>
          <input type="text" class="form-control" ng-model="localisation" id="localisation">
        </div>
        <div class="form-group">
          <label for="date">Date de l'intervention</label>

        </div>
        <button type="reset" ng-click="formReset()" class="btn btn-secondary">Reset</button>
        <button type="submit" ng-click="formSubmit(interventionForm)" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div> -->